<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular HTTP Loader</title>

    <script src="node_modules/angular/angular.js"></script>

    <script src="js/httpLoader.js"></script>
    <script src="js/httpMethodInterceptor.js"></script>

    <script>
      var app = angular
        .module('demo', ['ng.httpLoader'])

        .config([
          'httpMethodInterceptorProvider',
          function (httpMethodInterceptorProvider) {
            httpMethodInterceptorProvider.whitelistDomain('validate.jsontest.com');
            httpMethodInterceptorProvider.whitelistDomain('github.com');
            httpMethodInterceptorProvider.whitelistLocalRequests();
          }
        ])

        .controller('demoCtrl', [
          '$scope',
          '$http',
          function (scope, $http) {
            scope.buttons = [
              {'name': 'jsontest (Whitelisted)', 'link': 'http://validate.jsontest.com/?json=%7B%22key%22:%22value%22%7D'},
              {'name': 'Github (Whitelisted)', 'link': '//api.github.com/users/fabpot/repos'},
              {'name': 'Local request (Whitelisted)', 'link': '/demo.html'},
              {'name': 'Flickr (Not whitelisted - loader won\'t show)', 'link': 'http://www.flickr.com/services/feeds/photos_public.gne?tags=soccer&format=json'},
            ];

            scope.makeRequest = function (link) {
              $http.get(link);
            }
          }
        ]);
    </script>
  </head>
  <body ng-app="demo" ng-controller="demoCtrl">
    <button ng-repeat="button in buttons" ng-click="makeRequest(button.link)">{{button.name}}</button>
    <!-- Loader template -->
    <script type="text/ng-template" id="example-loader.tpl.html">Loading {{title}}...</script>

    <!-- show loader for GET methods -->
    <div ng-http-loader methods="GET" title="Foo" template="example-loader.tpl.html"></div>

    <!-- show loader for GET methods and loader should be visible at least 2 seconds -->
    <!-- <div ng-http-loader methods="GET" title="Foo" ttl="2" template="example-loader.tpl.html"></div> -->

    <!-- show loader for PUT and POST methods -->
    <!--<div ng-http-loader methods="['PUT', 'POST']" template="example-loader.tpl.html"></div>-->
  </body>
</html>
